<!-- Content -->
<div layout="row" flex class="overflow-y-hidden">
    <div layout="column" flex>
        <!-- Content -->
        <md-content ui-view="content" flex></md-content>
    </div>
    <!-- FAB -->
    <md-button class="md-fab md-primary md-fab-bottom-right z-index-75" ng-if="fab.show" ng-click="fab.action()" aria-label="FAB">
        <md-icon class="mdi {{ fab.icon }}" aria-label="{{ fab.label }}"></md-icon>
        <md-tooltip hide-xs hide-sm hide-md>{{ fab.label }}</md-tooltip>
    </md-button>
</div>