body{
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
    background: #e9ebee;
}

a{

    &:hover{
        text-decoration: none;
        color: $main-text;
    }
    &:focus{
        text-decoration: none;
        color: $main-text;
    }
}

md-nav-bar{
    overflow: auto;
}

td, th{
    @extend .center-text;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    .print-only, .print-only
    {
        display: block !important;    
    }

    .full-height-max {
        max-height: none !important;
    }

    .page-break-after
    {
        float:none;
        page-break-after: always;   
    }

    .avoid-page-break-after
    {
        page-break-after: avoid;   

    }

    .page-break-before
    {
        float:none;
        page-break-before: always;   
    }

    .avoid-page-break-before
    {
        page-break-before: avoid;   
    }

    body{
        overflow: visible;
    }
}