/* Light Blue - Pink */
$primary500: #03A9F4;
$primary700: #0288D1;
$primary100: #B3E5FC;

$accent: #FF4081;

$main-text: #212121;
$secondary-text: #757575;
$divider: #BDBDBD;

$red500: #F44336;
$orange500: #FF9800;
$teal500: #009688;

