<div layout="column" layout-align="center center">
    <img src="/img/mcoy.jpg" class="avatar">
    <h3 class="md-title">{{vm.profile.name}}</h3>
    <p class="md-subhead">{{vm.profile.occupation}}</p>

    <md-list>
        <md-list-item class="md-2-line" ng-repeat="info in vm.profile.info">
            <div class="md-avatar" layout="row" layout-align="center center">
                <md-icon class="mdi {{info.icon}} grey"></md-icon>
            </div>
            <div class="md-list-item-text">
                <h4>{{info.label}}</h4>
                <p>{{info.value}}</p>
            </div>
        </md-list-item>
    </md-list>
</div>