<md-card>
	<md-card-title>
		<md-card-title-text>
        	<span class="md-headline">Volunteer Work</span>
      	</md-card-title-text>
	</md-card-title>
	<md-card-content>
		<md-list>
			<md-list-item class="md-3-line" ng-repeat="item in vm.profile.volunteerWorks">
				<img ng-src="{{item.logo}}" class="md-avatar">
				<div class="md-list-item-text">
					<h3>{{item.position}} - {{item.company}}</h3>
					<h4>{{item.from | date: 'MMMM yy'}} to 
						<span ng-if="item.present">Present</span>
						<span ng-if="!item.present">{{item.to | date: 'MMMM yy'}}</span>
						<md-icon class="mdi mdi-clock grey"></md-icon>
						<span ng-if="item.present">{{vm.present | amDifference : item.from : 'months' }}</span>
						<span ng-if="!item.present">{{item.to | amDifference : item.from : 'months' }}</span> months
					</h4>
					<p>{{item.description}}</p>
				</div>
			</md-list-item>
		</md-list>
	</md-card-content>
</md-card>