<!-- Banner -->
<md-card class="no-print">
	<img src="/img/banner-2.png" class="md-card-image">
</md-card>

<!-- Profile for mobile devices -->
<md-card hide-gt-sm class="no-print">
	<md-card-content>
		<div ui-view="profile"></div>
	</md-card-content>
	<md-card-actions>
		<div ui-view="social"></div>
	</md-card-actions>
</md-card>

<!-- About Me -->
<div ui-view="about" class="no-print"></div>

<!-- Work Experience -->
<md-card>
	<md-card-title>
		<md-card-title-text>
        	<span class="md-headline">Work Experience</span>
      	</md-card-title-text>
	</md-card-title>
	<md-card-content>
		
	</md-card-content>
</md-card>