<md-card>
	<md-card-title>
		<md-card-title-text>
        	<span class="md-headline">References</span>
      	</md-card-title-text>
	</md-card-title>
	<md-card-content>
		<md-list layout="row" layout-wrap>
			<md-list-item class="md-2-line" ng-repeat="reference in vm.profile.references" flex-xs="100" flex-sm="100" flex-gt-sm="30">
				<div class="md-list-item-text">
					<h3>{{reference.name}}</h3>
					<h4>{{reference.position}} - {{reference.company}}</h4>
				</div>
			</md-list-item>
		</md-list>
	</md-card-content>
</md-card>